@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

html{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    background: url('images/bg_image.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:"League Spartan",sans-serif;
}
.player-container{
    height: 500px;
    width: 400px;
    background: #e7e7e7;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), /* Main shadow */
                0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle inner shadow */
    transition: transform 0.9s ease;
}
.player-container:hover{
    cursor: pointer;
    transform: scale(1.015);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3), /* Larger shadow on hover */
                0 8px 12px rgba(0, 0, 0, 0.15); /* Slightly larger inner shadow on hover */

}
.img-container{
    width: 300px;
    height: 300px;
    position: relative;
    top: -50px;
    left: 50px;
    /* margin: auto;
    padding-top: 15px;
    padding-bottom: 40px; */
}
.img-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 5px 30px 5px rgba(0,0,0,0.5);
}
h2{
    font-size: 25px;
    text-align: center;
    margin: 0;
}
h3{
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    margin: 5px 0 0;
}
/* progress */
.progress-container{
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px;
    height: 4px;
    width: 90%;
}
.progress{
    background: #11BA62;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}
.progress:hover{
    background: black;
}
.duration-wrapper{
    position: relative;
    top: -20px;
    display: flex;
    justify-content: space-between;
}

/* controls */
.player-controls{
    position: relative;
    top: -15px;
    left: 120px;
    width: 200px;
}
.fa-solid{
    font-size: 30px;
    /* color: rgb(129, 129, 129); */
    color: #fff;
    margin-left: 18px;
    user-select: none;
}
.fa-solid:hover{
    filter: brightness(60%);
}
.main-button{
    font-size: 40px;
    position: relative;
    top: 3px;
}

/* Media query */
@media screen and (max-width :376px){
    .player-container{
        width: 95vw;
    }
    .img-container{
        left: 29px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 15px;
    }
    .player-controls{
        top:-10px;
        left: 100px;
    }
}
